<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this person from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name,required: true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :friendly_id %>
  <%= f.text_field :friendly_id,:required => true, :class => "form-control" %>
  <p class="help-block">限小写英数字及横线，将作为网址的一部分</p>
  <input type="text" value="" id="random_id" class="form-control"/>
  <a onclick="randomId()">生成随机序列</a>
  <a onclick="useRandomId()">使用随机序列</a>
</div>
<div class="form-group">
  <%= f.label :status %>
  <!--<%#= f.select :status, Event::STATUS.map{|s| [t(s,scope: "event.status"),s]},{},class: "form-control"%>-->
  <div class="btn-group" data-toggle="buttons">
    <% Event::STATUS.each do |status| %>
      <lable class="btn btn-default <%= (status == f.object.status)? 'active' : '' %>">
        <%= f.radio_button :status,status %>
        <%= t(status, scope: "event.status") %>
      </lable>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map{|c| [c.name,c.id]},{},class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control" %>
</div>

<%= f.nested_fields_for :tickets do |ff| %>
  <fieldset style="border-left: 5px solid #bbb; margin-bottom: 10px; padding: 10px;">
    <legend>Ticket</legend>
    <div class="form-group">
      <%= ff.label :name %>
      <%= ff.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :price %>
      <%= ff.number_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :description %>
      <%= ff.text_area :description, class: "form-control" %>
    </div>
  </fieldset>
  <%= ff.remove_nested_fields_link "移除这个票种",class: "btn btn-danger" %>
<% end %>
<p class="text-right">
<%= f.add_nested_fields_link :tickets, "新增票种",class: "btn btn-default" %>
</p>
<script>
//前端生成随机字符串，因为如果交由后端处理会加重后端的负担
 function randomId(){
   var chars = 'abcdefhijkmnprstwxyz2345678-';
   var maxPos = chars.length;
   var pwd = '';
   for (i = 0; i < 36; i++) {
   　　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
     　}
   var randomId = document.getElementById("random_id")
   randomId.value = pwd
 };

//使用前端生成的随机字符串
function useRandomId(){
   var friendlyId = document.getElementById("event_friendly_id")
   friendlyId.value = document.getElementById("random_id").value
};

$("#event_category_id").select2({theme: "bootstrap"});
</script>
